body {
    margin: 0 auto;
}

.navbar {
    background-color: #ffffff;
    display: flex;
    color: #75066c;
    justify-content: space-around;
    align-items: center;
    list-style-type: none;
    height: 46.5px;
    margin-bottom: 0;

}

.image {
    width: 500px;
    height: 500px;
    float: left;
}

.description {
    display: flex;
    flex-direction: column; 
}

.description h1,
.description i,
.description p {
    margin:100px;  
    margin-bottom: -80px;
    padding-top: auto;
    padding-bottom: auto;
    float: right;
}